body {
    margin: 0;
}


/* фон */

.wrapper {
    background-size: cover;
    background: url(../Img/bg.jpg);
    background-size: 100% 100%;
}


/* фон */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 120px;
}

.logo img {
    margin: 0px;
    width: 103px;
    height: 30px;
    margin-bottom: 6px;
}

.logo h5 {
    margin: 0%;
    font-size: 16px;
    color: var(--dark_blue);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.nav a {
    width: auto;
    margin-right: 15px;
    color: var(--dark_blue);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav a:hover {
    cursor: pointer;
    color: red;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 8%;
}

.form img {
    margin-right: 30%;
}